*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: antiquewhite;
    max-width: 60rem;
    display: flex;
    overflow: hidden;
}
.primary {
    text-align: center;
    margin: 0 auto;
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    color: white;
    border-radius: 2rem;
    padding: 3rem 2rem;
}

.result {
    display: flex;
    justify-content: center;
    align-items: center;
}
.result__title {
    font-size: 1.8rem;
    font-weight: 500;
    color: hsl(241, 100%, 89%);
    margin-bottom: 2rem;
}

.result__section {
    border-radius: 50%;
    height: 15rem;
    width: 15rem;
    background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    box-shadow: inset 0 0.2rem 0.5rem 0 rgba(0, 0, 0, 0.103);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2rem;
    color: hsl(241, 100%, 89%);
}

.result__number {
    font-size: 4.5rem;
    font-weight: 800;
    color: white;
}

.primary__title {
    margin-bottom: 2rem;
}
.primary__text {
    font-size: 1.8rem;
    color: hsl(241, 100%, 89%);
}
.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
